doctype html
html
  head
  body
    p Hello, you look #{attribute} today!
    p Also, a new code contribution to add-ons has been made!
    p A #[a(href=`https://github.com/${organization}/${repo_name}/pull/${pr_number}`) pull request] by #[a(href=`https://github.com/${pr_committer}`) #{pr_committer}] has been merged on #{date}.
    p -- #[a(href='https://github.com/mozilla/addons-contribution-notifier') The Add-ons Contribution Bot]
